# Mi Primera Página Django

Proyecto realizado en Django siguiendo patrón MVT.

## Funcionalidades

- Crear Autor
- Crear Categoría
- Crear Post
- Buscar Post por título

## URLs

/autor/
/categoria/
/post/
/buscar/

## Instalación

pip install -r requirements.txt

python manage.py migrate
python manage.py runserver